<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name Forge</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
    </style>
</head>
<body>
    <div class="container transparent">
        <h1 class="text-center">Name Forge</h1>
    </div>
    
    <div class="container mt-4 transparent">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="fs-3">Source Lists</h2>
                <label for="nameList" class="form-label">Choose a name list:</label>
                <select id="nameList" class="form-select">
                    <option value="sample_names.txt">Test Names</option>
                    <option value="Dark_Souls_Names.txt">Dark Souls Names</option>
                    <option value="French_Male_First_Names.txt">French Male First Names</option>
                </select>
            </div>
            <div class="col-md-6">
                <h2 class="fs-3">Settings</h2>
                <label class="form-label">Length: <input type="number" id="length" class="form-control" min="4" max="12" value="6"></label>
                <label class="form-label">Quantity: <input type="number" id="quantity" class="form-control" min="1" max="50" value="10"></label>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <button class="btn btn-success mt-2" onclick="loadReferenceList()">Load List</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-success mt-2" id="generateButton" onclick="generateNames()">Generate</button>
            </div>
        </div>
    </div>

    <div class="container mt-4 transparent">
        <div class="row align-items-center">
            <div class="col-md-5">
                <h2 class="fs-3">Reference List</h2>
                <textarea id="referenceList" class="form-control" rows="10"></textarea>
            </div>
            <div class="col-md-2 arrow">&rarr;</div>
            <div class="col-md-5">
                <h2 class="fs-3">Generated Names</h2>
                <textarea id="generatedNames" class="form-control" rows="10"></textarea>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
